<a id="0"></a>

# <p style="padding:10px;background-color:#FAF9F6 ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Neeraj Prasad</p>

<h1 align=Center> Project : 03</h1>

<h1 align=center> Price Recommendation for online sellers <h1>

----

Language- Python

Datasets :- https://www.kaggle.com/code/rahul0205/product-price-recommendation-for-online-sellers/input

# Importing necessary files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/data.csv")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

## Data Info

In [4]:
df.shape

(541909, 8)

In [5]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## Checking Null Values

In [7]:
df.isnull().mean()

InvoiceNo      0.000000
StockCode      0.000000
Description    0.002683
Quantity       0.000000
InvoiceDate    0.000000
UnitPrice      0.000000
CustomerID     0.249267
Country        0.000000
dtype: float64

In [8]:
df.isnull().mean()*100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

## Data Preprocessing

In [9]:
df.drop(["CustomerID"], axis = 1, inplace = True)

In [10]:
df.dropna(axis = 0, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540455 entries, 0 to 541908
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    540455 non-null  object
 1   StockCode    540455 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     540455 non-null  int64
 4   InvoiceDate  540455 non-null  object
 5   UnitPrice    540455 non-null  float64
 6   Country      540455 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 33.0+ MB

In [12]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

## Data Formmating

In [13]:
month = []
year = []

for i in df["InvoiceDate"]:
    temp = i.split('/')
    month.append(int(temp[1]))
    year.append(int(temp[2][:4]))

df["Month"] = month
df["year"]  = year

In [14]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,United Kingdom,1,2010
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,United Kingdom,1,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,United Kingdom,1,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,United Kingdom,1,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,United Kingdom,1,2010

In [15]:
df['Total Price'] = df['UnitPrice'] * df['Quantity']

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Month,year,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,United Kingdom,1,2010,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,United Kingdom,1,2010,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,United Kingdom,1,2010,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,United Kingdom,1,2010,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,United Kingdom,1,2010,20.34

In [17]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
Country         object
Month            int64
year             int64
Total Price    float64
dtype: object

In [18]:
df.drop(["InvoiceDate"], axis = 1, inplace = True)

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["InvoiceNo"] = le.fit_transform(df["InvoiceNo"])
df["StockCode"] = le.fit_transform(df["StockCode"])

## Separated the data

In [20]:
X = df.drop(['InvoiceNo','StockCode','Total Price','Description','Country'], axis = 1)
y = df["Total Price"]

In [21]:
X.head()

   Quantity  UnitPrice  Month  year
0         6       2.55      1  2010
1         6       3.39      1  2010
2         8       2.75      1  2010
3         6       3.39      1  2010
4         6       3.39      1  2010

In [22]:
y.head()

0    15.30
1    20.34
2    22.00
3    20.34
4    20.34
Name: Total Price, dtype: float64

## Spliting the training and testing data

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## Feature Scaling

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Importing the models for train

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

model = [
    LinearRegression(),
    RandomForestRegressor(n_estimators=100, random_state=42)
]

## Training the model and evaluating the performance of the model using r^2 score

In [26]:
from sklearn.metrics import r2_score

models = []
r2 = []
for m in model:
    m.fit(X_train, y_train)
    y_pred = m.predict(X_test)

    r2_value = r2_score(y_test,y_pred)
    models.append(m.__class__.__name__)
    r2.append(r2_value)
    print(f"{m.__class__.__name__} R2 Score: {r2_value}")

LinearRegression R2 Score: 0.44968896598768016
RandomForestRegressor R2 Score: 0.8063175483545832

Random Forest Regressor performed well the value of the r2 score is almost close to the 1